[build]
  command = "bun run build"
  publish = "dist/client"
  functions = "dist/server"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["node-appwrite"]
